@charset "UTF-8";
@import 'functions.scss';
$trans: all .3s ease;
.mv {
    width: 100%;
    position: relative;
    .slider {
        width: 100%;
        // height: 54rem;
        overflow: hidden;
        .item {
            width: 100%;
            height: 100%;
            img {
                width: 100%;
            }
        }
    }
    @include mobile {
        height: calc(100vh - 50px);
        .slider {
            height: 100%;
            .slick-list,
            .slick-track {
                height: 100%;
            }
            .item {
                img {
                    height: 100%;
                    object-fit: cover;
                    object-position: 65%;
                }
            }
        }
    }
    .content {
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 11rem;
        transform: translateY(-50%);
        h2,
        p {
            font-family: 'YuminDemi', serif;
            color: #626262;
            transition: all .5s ease;
        }
        h2 {
            font-size: 4.8rem;
            line-height: 1.4;
            letter-spacing: .2rem;
            .t-en {
                display: inline-block;
                padding: 0 .5rem;
            }
            .lead {
                display: block;
                padding: 0 .5rem;
                @include onIE {
                    padding-top: 12px;
                }
            }
        }
        p {
            display: inline-block;
            margin-top: 6rem;
            font-size: 2rem;
            padding: 0 .5rem;
        }
        &.active {
            h2,
            p {
                color: #fff;
                text-shadow: 1px 1px 10px rgba(#000, 1), 1px 1px 10px rgba(#000, 1);
            }
        }
        &.best-active {
            h2 {
                .t-en,
                .lead {
                    background-color: rgba(#f1f7f9, .85);
                }
            }
            p {
                background-color: #f1f7f9;
            }
        }
        @include mobile {
            left: 6.25vw;
            h2 {
                font-size: 3.5rem;
            }
            p {
                font-size: 1.6rem;
            }
        }
        @include near_mobile {
            h2 {
                font-size: 2rem;
            }
            p {
                font-size: 1.4rem;
                margin-top: 2rem;
            }
        }
    }
}

.article {
    width: 100%;
    position: relative;
    &-date,
    &-desc {
        display: block;
        color: #111111;
        font-weight: 500;
    }
    &-desc {
        margin-top: 3rem;
        @media only screen and (max-width: 768px) {
            margin-top: 1rem;
        }
    }
}

.fk-sym {
    display: inline-block;
    max-width: 9px;
}

.sp-only {
    display: inline-block;
    @include mobile {
        display: inline-block;
    }
}

.news {
    background-color: #f0f5f4;
    &-title {
        color: #18384a;
        font-size: 3rem;
        font-family: 'YuminDemi', serif;
        font-weight: 500;
        @include ipadpro {
            width: 100%;
        }
    }
    &-container {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding-top: 7.5rem;
        padding-bottom: 6rem;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @include ipadpro {
            padding: 4rem 2rem;
        }
    }
    .article {
        max-width: 70%;
        @include onIE {
            padding-top: 4px;
        }
        transition: $trans;
        a {
            display: block;
            color: #111111;
        }
        &:hover {
            opacity: .75;
        }
        @include ipadpro {
            margin-top: 3rem;
        }
        @include near_mobile {
            max-width: 100%;
        }
    }
    .article-more {
        width: 100%;
        max-width: 14rem;
        height: 4.4rem;
        border: 1px solid #b3cbcc;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: auto;
        color: #18384a;
        transition: $trans;
        @include onIE {
            padding-top: 4px;
        }
        &:hover {
            color: rgba(#18384a, .5);
        }
        @include near_mobile {
            margin-top: 3rem;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.recommended {
    width: 100%;
    .title {
        color: #18384a;
        font-family: 'YuminDemi', serif;
        font-size: 3.6rem;
        text-align: center;
        font-weight: 500;
        margin-top: 8.5rem;
        line-height: 1.4;
    }
    .flex {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 4.5rem;
        margin-bottom: 9rem;
        .item {
            width: 100%;
            max-width: calc(100% / 5);
            text-align: center;
            transition: $trans;
            &:hover {
                opacity: .75;
            }
            figure {
                img {
                    max-width: 12rem;
                    margin: 0 auto;
                    border-radius: 50%;
                    box-shadow: 0 0 12px 0px rgba(#000, .5);
                }
                figcaption {
                    color: #18384a;
                    font-weight: 700;
                    font-size: 2.4rem;
                    margin-top: 2rem;
                }
            }
        }
    }
    @include mobile {
        .title {
            font-size: 2.5rem;
        }
        .flex {
            .item {
                max-width: 50%;
                margin-bottom: 3rem;
                figure figcaption {
                    font-size: 1.6rem;
                }
            }
        }
    }
}

.video-embed {
    padding: 6rem 0;
    background-color: #e6edeb;
    .video {
        width: 100%;
        max-width: 64rem;
        margin: 0 auto;
        iframe {
            max-width: 100%;
        }
    }
    @include near_mobile {
        padding: 0 2rem;
    }
}

.feature {
    .grade {
        width: 100%;
        margin-top: 8rem;
    }
    .feature-title {
        text-align: center;
        img {
            max-width: 12rem;
            margin: 0 auto;
            border-radius: 50%;
            box-shadow: 0 0 12px 0px rgba(#000, .5);
        }
        figcaption>h4 {
            margin-top: 1.2rem;
            font-size: 2.4rem;
            color: #18384a;
            font-weight: 700;
            display: block;
        }
        @include near_mobile {
            figcaption>h4 {
                font-size: 1.8rem;
            }
        }
    }
    .tab {
        margin-top: 4rem;
    }
}

.tab {
    display: flex;
    width: 100%;
    position: relative;
    z-index: 2;
    &-item {
        width: 100%;
        max-width: 16rem;
        height: 5.5rem;
        background-color: #ebebeb;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        color: #333333;
        font-size: 1.8rem;
        font-weight: 500;
        position: relative;
        margin-right: .3rem;
        cursor: pointer;
        transition: $trans;
        @include onIE {
            padding-top: 8px;
        }
        @include mobile {
            font-size: 1.4rem;
        }
        &:hover {
            color: rgba(#18384a, .5);
        }
        &.active {
            background-color: #fff;
            border: 1px solid #666666;
            border-bottom: 0;
            &::after {
                content: '';
                width: 100%;
                position: absolute;
                border-bottom: 1px solid #fff;
                left: 0;
                bottom: -1px;
            }
        }
    }
}

.download-button {
    width: 100%;
    max-width: 18rem;
    height: 4.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: #fff;
    background-color: #d30712;
    border: 2px solid #d30712;
    border-radius: 5px;
    transition: $trans;
    @include onIE {
        padding-top: 6px;
    }
    &:hover {
        background-color: #fff;
        color: #d30712;
    }
}

.tab-content {
    width: 100%;
    text-align: center;
    position: relative;
    padding-top: 3.5rem;
    padding-bottom: 3rem;
    border: 1px solid #666666;
    z-index: 1;
    .tab-index {
        display: none;
        &.active {
            display: block;
        }
    }
    .title {
        display: block;
        color: #d30712;
        font-size: 2.4rem;
        font-weight: 500;
        font-family: 'YuminDemi', serif;
    }
    .desc {
        color: #111111;
        font-size: 1.8rem;
        font-weight: 500;
        margin-top: 2rem;
    }
    .download-button {
        margin: 0 auto;
        margin-top: 2rem;
    }
    @include mobile {
        padding: 3rem 2rem;
    }
    @include near_mobile {
        .title {
            font-size: 1.7rem;
        }
        .desc {
            font-size: 1.4rem;
        }
    }
}

.contact {
    width: 100%;
    background-image: radial-gradient(circle, rgba(244, 249, 248, 1) 0%, rgba(215, 228, 224, 1) 57%, rgba(215, 228, 224, 1) 100%);
    background-repeat: no-repeat;
    padding: 5rem 0;
    margin-top: 10rem;
    .title {
        font-size: 3.6rem;
        color: #18384a;
        font-weight: 500;
        font-family: 'YuminDemi', serif;
        text-align: center;
        @include mobile {
            font-size: 2.5rem;
        }
    }
    .double-button {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 4rem;
        .download-button:first-child {
            margin-right: 8rem;
        }
        @include near_mobile {
            .download-button {
                max-width: 100%;
                margin-bottom: 3rem;
                &:first-child {
                    margin-right: 0;
                }
            }
        }
    }
}

.about {
    width: 100%;
    .flex {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 6rem 0;
        .item {
            width: 100%;
            max-width: 45%;
            .title {
                color: #111111;
                font-weight: 700;
                font-size: 1.8rem;
                display: block;
                margin-top: 2rem;
            }
            .desc {
                color: #111111;
                font-weight: 500;
                margin: 2rem 0;
                display: inline-block;
            }
        }
        @include near_mobile {
            .item {
                max-width: 100%;
                margin-bottom: 3rem;
            }
        }
    }
    &-logo {
        width: 100%;
        max-width: 24rem;
        height: 7rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #ccc;
        transition: $trans;
        &:hover {
            opacity: .75;
        }
        img {
            // width: 100%;
            max-width: 100%;
        }
    }
    .explain {
        color: #d30712;
        font-size: 1.6rem;
        font-weight: 700;
        letter-spacing: -.15rem;
        margin-left: 4px;
        margin-top: .5rem;
    }
}